* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Cormorant SC Regular";
    src: url(/fonts/CormorantSC-Regular.ttf);
}


body {
    width: 1000px;
    margin: auto;
    font-family: "Cormorant SC Regular";
    color: #333;
}

button {
    font-family: "Cormorant SC Regular";
}

.main-title,
.spark-ar {
    text-align: center;
    font-weight: 100;
}

.main-title {
    text-transform: uppercase;
    margin: 45px 0 45px 0;
    letter-spacing: 16px;
    font-size: 50px;
}

.main-title a {
    text-decoration: none;
    color: black;
    font-size: 37px;
    width: 100px;
    font-weight: 600;
}

.main-title a:focus {
    outline: none;
}

.spark-ar {
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: 800;
}

.main-pods {
    margin-top: 150px;
}

header > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header > ul > li {
    letter-spacing: 4px;
}

header > ul > li,
header > ul > li {
    margin-right: 20px;

    a {
        display: flex;
    }
}

header > ul > li a {
    text-decoration: none;
    color: darken(#cbcbcb,100%);
}

header > ul > li a:focus {
    outline: none;
}

li {
    list-style: none;
}

.main-pods {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pod-wrapper {
    border: 1px solid #b2b2b2;
    height: 200px;
    padding: 8px 8px 70px;
}

.pod-wrapper:hover {
    cursor: pointer;
}

.pod-image {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.pod-image h3:first-child {
    opacity: 0.7;
    z-index: 2;
}

.pod-wrapper:first-child h3:first-child {
    opacity: 0.6;
}

.pod-image .opacity {
    opacity: 0.2;
}

.pod-image h3 {

    font-size: 34px;
    text-align: center;
    font-weight: 100;
    line-height: 31px;
}

.pod-image:first-child h3 {

    font-size: 34px;
    text-align: center;
    font-weight: 100;
}

.pod-wrapper:nth-child(1) .opacity {
    margin-top: -18px;
    font-size: 34px;
}

.pod-wrapper a {
    text-decoration: none;
    color: black;
}

.pod-wrapper a:active {
    text-decoration: none;
    color: black;
}

.pod-wrapper:nth-child(2) .opacity {
    margin-top: -13px;
}

.pod-wrapper:nth-child(3) .opacity {
    font-size: 37px;
    margin-top: -15px;
}

.pod-wrapper:nth-child(4) .opacity {
    margin-top: -17px;
}


section > h1,
section > h3 {
    color: #c3c3c3;
    font-weight: 100;

}

section > h1 {
    font-size: 46px;
    font-weight: 100;
    letter-spacing: 10px;
    opacity: 0.85;
}

section > p,
section > span,
section li {
    color: #5f5f5f;
    font-size: 15px;

    letter-spacing: 3px;
}

.main-page-section {
    padding: 0 80px;
    margin-top: 80px;
}

.main-page-section > span,
.main-page-section ul {
    margin-left: 100px;
}

.marketing-instrument h3 {
    font-size: 30px;
    letter-spacing: 3px;

}

.marketing-instrument p {

    font-size: 17px;
}

.marketing-instrument {
    text-align: center;
    margin-top: 70px;
    padding-top: 35px;
    margin-bottom: 80px;
}

.what-is-it {
    position: relative;
    margin-bottom: 134px;
}

.what-is-it img {
    width: 500px;
    opacity: 0.75;
    position: absolute;
    right: -80px;
}

.what-is-it h1 {
    transform-origin: center;
    transform: rotate(-90deg);

    position: absolute;
    left: -136px;
    top: 151px;
}

.what-is-it p {
    line-height: 27px;
    letter-spacing: 2px;

    z-index: 1;
}

.why-us li {
    margin-top: 20px;
}

.your-order h1 {
    margin-bottom: 20px;
}

.your-order li,
.your-order span {
    line-height: 24px;
}

.your-order li > span {
    font-size: 13px;
    font-weight: 600;
}

.your-order > span {
    display: block;
}

.your-order {
    margin-bottom: 80px;
}

.main-tranmission {
    margin-bottom: 50px;
}

.catalog {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
    flex-wrap: wrap;
}

.catalog-element {
    width: 300px;
    margin-top: 50px;
}

.catalog-element:nth-child(3n + 2) {
    margin-right: 45px;
    margin-left: 45px;
}

.cart-count, .constructor-count {
    background: #535353;
    text-align: center;
    border-radius: 39px;
    display: flex;
    padding: 2px 0px 2px 3px;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 19px;
    font-size: 14px;
    color: white;
}


.mask-image {
    //background: url(../images/masks/LATTE.png);
    background-size: 100% 100%;
    height: 523px;
    top: 16px;
    position: absolute;
    z-index: -1;
    left: 21px;
    width: 239px;
}

.mask-name {
    font-style: italic;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 1px;
    width: 124px
}

.price-mask {

    font-size: 23px;
    font-style: italic;
    margin-left: -3px;
    margin-top: 1px;
}

.cart-subtotal {
    display: block;
    width: 302px;
    text-align: center;
    margin: 0 0 32px auto;

    font-size: 23px;
    font-style: italic;
}

.empty-cart {
    font-size: 15px;

    letter-spacing: 3px;
    text-align: center;
}

.mask-description {
    display: flex;
    width: 243px;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr {
    width: 100px;
    height: 100px;
    //background: url("../images/masks/LATTE-qr.gif");
    background-size: 100% 100%;
}

.mask-qr {
    width: 100px;
}

.mask-qr span {

}

.mask-qr span:first-child {
font-size: 10px;
    margin-top: -3px;
}

.mask-qr span:nth-child(2) {
font-size: 13px;
}

.try-it {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

//order-mask


.mask-wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 222px;
margin: auto;
}

.login-form,
.registration-form,
.reset-password {
width: 372px;
margin: 150px auto;
    .style-input {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .sender-label {

        font-size: 15px;
        color: #555555;
        text-align: center;
        display: block;
        margin-bottom: 30px;
    }
}

.login-form,
.registration-form,
.reset-password {
    button {

        font-size: 15px;
        line-height: 1.2;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        outline: none !important;
        border: none;
        background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0.6), rgba(120, 161, 149, 0.85) 48%);
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 25px;
        overflow: hidden;
        margin: 40px auto;
    }
}

.login-form,
.registration-form,
.reset-password {
    .style-input {

        font-size: 15px;
        color: #555555;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 45px;
        background: transparent;
        padding: 0 5px;
        outline: none;
        border: none;
        position: relative;
        border-bottom: 2px solid #adadad;
        margin-bottom: 37px;
    }
}

.login-form {
a, label {

    font-size: 15px;
    color: #555555;
    text-decoration: none;
}

a {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
}

.login-form .sign-up-redirect,
.registration-form .sign-up-redirect {
text-align: center;
}

.login-form .sign-up-redirect .txt1,
.registration-form .sign-up-redirect .txt1 {

font-size: 13px;
color: #666666;
line-height: 1.5;
}

.login-form .sign-up-redirect .txt2,
.registration-form .sign-up-redirect .txt2 {

font-size: 13px;
color: #333333;
line-height: 1.5;
text-decoration: none;
}

.registration-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-information {
margin-top: 150px;
}

.order-information h3,
.order-information h4,
.order-information p,
.order-information button,
.order-information textarea,
.order-information h2 {
color: #878787;

letter-spacing: 3px;
font-weight: 100;
}

textarea {
    resize: none
}

textarea:focus {
    outline: none;
}

.order-information textarea:focus {
outline: none;
}

.order-information .order-file-wrapper {
    position: relative;
    display: block;
    width: 108px;
    margin-left: auto;

    span.order-information-submit {
        width: 108px;
        color: #878787;

        letter-spacing: 3px;
        font-weight: 100;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
    }

    input {
        opacity: 0;
        width: 108px;
        background: none;
    }
}

.order-information .order-information-submit:focus {
outline: none;
}

.order-information p {
font-size: 15px;
line-height: 28px;
text-align: end;
margin-top: 30px;
}

.order-information .order-form {
padding-right: 50px;
}

.order-information h3,
.order-information h4 {
margin-bottom: 10px;
text-align: end;
padding-right: 50px;
}

.order-opportunities h2,
.order-opportunities p {
letter-spacing: 3px;
color: #2f2f2f;

font-weight: 100;
}

.order-opportunities > h2 {
width: 784px;
margin: 50px auto 20px auto;
}

.order-opportunities > p {
text-align: center;
margin: 50px;
}

.order-opportunities-pods {
display: flex;
flex-wrap: wrap;
width: 900px;
justify-content: space-between;
margin: auto;
}

.order-opportunities-pods .order-opportunities-pod {
width: 450px;
margin-top: 50px;
}

.order-opportunities-pods .order-opportunities-pod:nth-child(2n) h2,
.order-opportunities-pods .order-opportunities-pod:nth-child(2n) p {
text-align: start;
}

.order-opportunities-pods .order-opportunities-pod:nth-child(2n+1) h2,
.order-opportunities-pods .order-opportunities-pod:nth-child(2n+1) p {
text-align: center;
}

.order-opportunities-pods p {
line-height: 18px;
font-size: 14px;
}

.order-opportunities-pods h2 {
margin-bottom: 12px;
}


// cart

.cart-pods {
    margin-top: 50px;

    ul  {
        display: flex;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
    }

    a, li {
        text-decoration: none;
        color: #989898;
    }
}

.cart-products {
    margin-top: 50px;
    position: relative;

    .cart-products-included {
        position: relative;
        margin-bottom: 30px;

        .price-mask {
            opacity: 0.6;
        }
    }

    .mask-name {
        margin-top: 0;
    }

    .cart-product {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 20px 0;
    }

    .cart-product-background {
        width: 100%;
        height: 100%;
        background: #f8f8f8;
        position: absolute;
        z-index: -1;
    }

    .mask-mobile {
        margin: 0;
        height: 200px;
        width: 100px;

        .mask-image {
            height: 187px;
            top: 6px;
            left: 8px;
            width: 87px;
        }
    }

    .cart-next {
        width: 200px;
        background: #78a195;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        border-radius: 31px;
        margin: 20px 20px 0 auto;

        margin-bottom: 50px;

        a {
            color: lighten(#989898, 30%);
            text-decoration: none;
        }
    }

    .cart-cost {

        font-size: 18px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 20px 20px 20px 0;
        opacity: 0.6;

        .cost {

            font-size: 23px;
            font-style: italic;
            margin-left: 50px;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 630px;
        margin: 0 auto 10px 66px;
    }
}

// admin-panel
.admin-submit {

    margin-top: 50px;
    .admin-add {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 723px;
        margin: auto;
        height: 158px;

        > div {
            display: flex;
            flex-direction: column;
        }
    }

    label {

        margin: auto;
    }

    input {
        margin-top: 5px;
        padding: 10px 10px;

        border-radius: 18px;
        border: 1px solid #c3c3c3;
    }

    input:focus {
        outline: none;
    }

    > input {
        display: block;
        margin: 50px auto;
        padding: 15px 40px;
        background: lighten(black, 20%);
        color: white;
        font-size: 16px;
    }
}

// order-list

.constructors-list {
    div {

        font-weight: 100;
        letter-spacing: 2px;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 50px 0;
        border: 1px solid grey;
        padding: 20px;
        border-radius: 31px;
    }

    input, button {
        margin-top: 5px;
        padding: 10px 10px;

        border-radius: 18px;
        border: 1px solid #c3c3c3;
    }

    input:focus, button:focus {
        outline: none;
    }
}

.admin-list {
    margin-bottom: 50px;
}

.order-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    li {

    }
}

.admin-list {
    .order-headers {
        li:nth-child(2) {
            margin-left: -176px;
        }
    }

    .constructors-list {
        display: flex;
        flex-direction: column-reverse;
    }
}

.constructors-list-description {
    width: 350px;
}

button:hover, input[type=submit], input[type=file],
.order-information-submit {
    cursor: pointer;
}

.constructors-header {
    font-weight: 100;

    font-size: 30px;
    margin: 30px 0;
    color: darken(grey, 10%);
    transition: all 0.5s;
    letter-spacing: 10px;
}

.constructors-header:hover {
    color: #78a195;
    cursor: pointer;
}

.user-constructor-list {
    display: none;

    .order-headers {
        padding: 0 53px;

        li:nth-child(2) {
            margin-left: -118px;
        }
    }

    .constructors-list-description {
        width: 300px;
        height: 200px;
        overflow: auto;

        letter-spacing: 2px;
    }

    .constructors-list-description::-webkit-scrollbar { width: 30px; height: 30px;}

    .constructors-list {
        li {
            div:first-child {
                font-size: 15px;
            }

            div:nth-child(5) {
                font-size: 16px;
            }
        }
    }
}

.constructors-list-description {
    height: 200px;
    overflow: auto;

    letter-spacing: 2px;
}

.constructors-list-description::-webkit-scrollbar { width: 30px; height: 30px;}

.constructors-list {
    img {
        border-radius: 34px;
    }
}

.alert {
    li {
        margin: 15px auto;
        background: rgba(255, 0, 0, 0.3);
        border-radius: 40px;
        text-align: center;
        padding: 5px 10px;
        line-height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 10px;
        width: 250px;
        box-sizing: border-box;
    }
}

.invalid-feedback {
    width: 350px;
    margin: 15px auto;
    background: #ff9999;
    border-radius: 40px;
    text-align: center;
    padding: 5px 10px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form,
.registration-form,
.reset-password {
    .style-input, button {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-check-input {
    margin-left: 56px;
}

a.active-pod {
   color: darken(#989898, 35%);
}

.payment, .download {
    margin: 50px 0 0 86px;

    a {
        text-decoration: none;
        background: #989898;
        color: white;
        padding: 10px 15px;
        border-radius: 20px;
    }
}

.cart-products.payment {
    .cart-cost {
        justify-content: flex-start;

        .cost {
            margin-left: 15px;
        }
    }
}

.constructors-list,
.user-constructor-list .order-headers {
    transition: all 0.5s;
}

.user-headers, .admin-headers {
    display: flex;
    justify-content: center;
    padding: 0 82px;
    margin-bottom: 50px;
}

.user-headers {
    justify-content: space-between;
}

.admin-headers {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;

    .admin-header {
        text-align: center;
            font-weight: 100;

            font-size: 25px;
            margin: 30px 0;
            color: darken(grey, 10%);
            transition: all 0.5s;
            letter-spacing: 10px;
             width: 400px;
    }

    .admin-header:hover {
        color: #78a195;
        cursor: pointer;
    }
}

.user-mask-list {
    display: none;

    .download {
        width: 100%;
        margin: 30px auto;
    }

    .catalog {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 5px;
        flex-wrap: wrap;
    }

    .catalog-element {
        width: 300px;
        margin-top: 50px;

        .mask-name {
            text-align: center;
            width: unset;
            font-size: 22px;
            margin-bottom: 5px;
        }
    }

    .catalog-element:nth-child(3n + 2) {
        margin-right: 45px;
        margin-left: 45px;
    }
}

.gallery {
    .catalog-element:nth-child(8) {
        .mask-image {
            top: 6px;
            left: 14px;
            width: 252px;
            height: 550px;
        }
    }
}

.catalog {
    margin-bottom: 50px;
}

.selfi {
    .mask-mobile {
        width: 287px;
    }

    .mask-image {
        left: 13px;
        width: 261px;
    }

    .mask-name {
        width: 136px;
    }
}

.admin-list,
.admin-masks-list,
.admin-users-list {
    display: none;
}

.admin-masks-list {
    .mask-name {
        margin: 0;
        width: unset;
    }
}

.admin-masks-list-ul {
    > li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        background: #f8f8f8;
        align-items: center;
        padding-left: 17px;

        div, ul {
            width: 66px;
        }

       ul li:nth-child(n+2) {
            margin-top: 5px;
        }
    }
}

.name-qr-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .mask-name {
        margin: 0 -36px 0 0;
    }
}

.admin-users-list {
    .order-headers {
        width: 751px;

        li {
            width: 400px;
        }
    }

    .admin-users-list-ul {
        li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            > div {
                width: 400px;
            }

            div:last-child {

            }
        }
    }
}

.contacts-header {
    font-weight: 100;

    letter-spacing: 8px;
    color: #989898;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
}

.admin-delete-mask {
    .order-headers {
        width: 629px;
        padding-left: 10px;
    }

    .admin-delete-mask-ul {
        li {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            background: #f8f8f8;
            padding: 10px;
            border-radius: 20px;

            img {
                border-radius: 28px;
            }
        }
    }
}

.admin-delete-mask {
    display: none;
}

.objects {
    .price-mask {
        font-size: 20px;
        width: 81px;
        text-align: center;
    }

    .mask-image {
        left: 15px;
        width: 252px;
    }
}

.sender-label {

    font-size: 15px;
    color: #555555;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}


.style-select {
    padding: 5px;
    border: 1px solid #a0a1a5;
    margin: 0.5rem 0;
    background: #eff0f4;
    border-color: #a0a1a5;
    border-top-width: 2px;
    border-radius: 5px;

    font-size: 15px;
    color: #555555;
    min-width: 201px;
}



.deal-form input[type='text'] {

    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
    outline: none;
    border: none;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.deal-form input[type='submit'] {

    font-size: 16px;
    background: gainsboro;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #333;
}

.style-select {
    padding: 5px;
    border: 1px solid #a0a1a5;
    background: #eff0f4;
    border-color: #a0a1a5;
    border-top-width: 2px;
    border-radius: 5px;

    font-size: 15px;
    color: #555555;
    min-width: 201px;
    height: 45px;
    margin: 0.5rem 0;
}

.add_gruz_heading {
    margin: 2rem 0;
    font-size: 23px;
}

.add_gruz_input {
    padding: 13px;
    border: 1px solid #a0a1a5;
    margin: 0.5rem;
    background: #eff0f4;
    border-color: #a0a1a5;
    border-top-width: 2px;
    border-radius: 5px;
}

.add_gruz_main_heading {
    margin: 4rem 0 3rem;
}

.add_gruz_submit {
    padding: 0.5rem 2rem;

    font-size: 15px;
    /* margin-top: 20px; */
    margin-bottom: 0;
    margin-top: 15px;
}

.add_gruz_wrapper {
    width: 650px;
}

.add_gruz_wrapper .col-md-6 {
    display: flex;
    align-items: center;
}

.add_gruz_wrapper .style-select {
    margin-left: 10px;
}


.green {
    color: green;
    margin: 50px auto;
    font-size: 25px;
}

.result-header, .result-pod {
    display: flex;
    justify-content: space-between;
}

.result-pods {
    margin: 2rem 0;

    li {
        margin: 1rem 0;
        font-size: 17px;

        a {
            font-size: 20px;
            font-weight: 600;
            color: #2b3961;
        }
    }
}

.result-pod {
    margin: 1rem 0;
}

.result-header > div, .result-pod > div {
    width: 14%;
    margin-right: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.transport_poisk {
    display: none;
}


.user-profile {
    display: flex;
    align-items: center;
}

.user-description > span {
    width: 15%;
    margin-right: 0.5rem;
    text-align: center;
}

.user-description {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px;
    line-height: 28px;
}

.bold {
    font-weight: 600;
}

.user-profile-image {
    border-radius: 50%;
    border: 1px solid black;
    width: 180px;
}

.search-input {
    width: 80%;
    border: none;
    border-bottom: 1px solid gainsboro;

    font-size: 15px;
    color: #555555;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

a {
    color: darken(#a0a1a5, 20deg);
    text-decoration: none;
}

button[type='submit'] {
    background: #efefef;
    padding: 13px;
    border-radius: 30px;
    border-top-width: 2px;
    text-transform: uppercase;
    border: 1px solid #b4b4b4;
    min-width: 136px;
    color: #555555;
}

.single-page.result-section {
        display: flex;
    justify-content: space-between;
    width: max-content;

    .result-header, .result-pods {
        flex-direction: column;
        margin: 0;
        height: 100%;

        div {
            margin: 1rem 0;
            width: max-content;
        }
    }

    .result-pod {
        flex-direction: column;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        margin-left: 50px !important;

        > div {
            width: 100%;
        }
    }
}

.profile-actions {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.add-review {
    display: flex;
    align-items: center;
    margin: 30px 0;

    label {
        margin: 0 10px 0 0;
    }
}

.main-lists {
    display: flex;
    justify-content: space-between;
}

.top-lists {

    .col-md-6.offset-md-4 {
        display: flex;
        justify-content: center;
    }



    .result-pods {
        width: 251px;

        li, p {
            text-align: center;
        }
    }
}
.profile-heading {
    text-align: center;
    max-width: 251px;
}

.bottom-lists {
    .result-pods {
        width: 251px;

        > p {
            text-align: center;
        }
    }
}
button.partner-button {
    width: 164px;
    font-size: 14px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 10px;
}

form.partner {
    margin-top: -10%;
    /* margin-left: -200px; */
    margin-right: 289px;
}

.review-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .result-pods {
        margin-top: 0;
        margin-left: 123px;

        ul {
            width: 150%;
        }
    }
}

.left-margin {
    margin-left: 48px;
}
.add_gruz_wrapper .col-md-6.add-inputs {
    align-items: flex-start;

    label {
        margin-top: 18px;
        margin-right: 17px;
    }
}
.add-inputs-wrapper {
    display: flex;
    flex-direction: column;
}

.adr-label {
    margin-right: 13px;
}

.gruz-fields {
    display: flex;
    justify-content: space-between;
}

.body-type-label {
    margin-right: 9px;
}

.note-align {
    margin-right: 17px;
}

.country-align {
    margin-right: 24px;
}

.country-in-align {
    margin-right: 5px;
}

.date-input {
    padding: 13px 5px;
}

.weight-align {
    margin-right: 21px;
}

.add_transport_wrapper {
    width: 812px;
}

.gabariti-wrapper {
    input {
        width: 100px;
    }
}

.volume-align {
    margin-right: 47px;
}

.adr-align {
    margin-right: 61px;
}

.add-doc {
    margin-top: 30px;
}

.switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 298px;
    margin: 20px 0;
    text-transform: uppercase;
}

.poisk-country-align {
    margin-right: 18px;
}

.filtered-heading {
    margin: 40px 0;
}
